node_modules
dist
build

.vscode
.idea

result

# transient files during flatpak build
package-lock.json
yarn.lock

# src/renderer/public/*

# Custom
# *.exe
temp
guest_server/winboat_guest_server.exe
guest_server/winboat_guest_server.zip
